@model AutoService.ViewModel.CarAndServicesViewModel

<h4>Car record for Customer</h4>
<div class="row form-border">
    <!-- We want to display two properties on left side and right side-->
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="SubCar.Make" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="SubCar.Make" disabled class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="SubCar.Model" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="SubCar.Model" disabled class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="SubCar.Style" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="SubCar.Style" disabled class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="SubCar.Year" class="control-label"></label>
            </div>
            <div class="col-sm-9" style="padding-bottom: 5px;">
                <input asp-for="SubCar.Year" disabled class="form-control"/>
            </div>
        </div>
    </div>     
</div>