@model IndividualButtonPartial

<td style="width: 150px">
    <div class="btn-group" role="group">
        @Html.Partial("_IndividualButtonPartial", model: new IndividualButtonPartial()
        {
            Action = "Edit", ButtonType = "btn-primary", Glyph = "pencil", Text = "Edit button", ServiceId = Model.ServiceId, CustomerId = Model.CustomerId, CarId = Model.CarId
        })
        @Html.Partial("_IndividualButtonPartial", model: new IndividualButtonPartial()
        {
            Action = "Details", ButtonType = "btn-success", Glyph = "list", Text = "Details button", ServiceId = Model.ServiceId, CustomerId = Model.CustomerId, CarId = Model.CarId
        })
        @Html.Partial("_IndividualButtonPartial", model: new IndividualButtonPartial()
        {
            Action = "Delete", ButtonType = "btn-danger", Glyph = "trash", Text = "Delete button", ServiceId = Model.ServiceId, CustomerId = Model.CustomerId, CarId = Model.CarId
        })
    </div>
</td>