@model AutoService.ViewModel.CarAndServicesViewModel
@{
    ViewData["Title"] = "Create";
}

<br />
@await Html.PartialAsync("_CarDetailsInService")
<hr />
<h4>Service</h4>
<div class="row form-border">
    <form asp-action="Create">
        <input asp-for="SubCar.Id" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewService.Miles" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom: 5px;">
                    <input asp-for="NewService.Miles" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewService.Price" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom: 5px;">
                    <input asp-for="NewService.Price" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9" style="padding-bottom: 5px;">
                    <input type="submit" class="btn btn-sm btn-primary form-control" value="Add Service" />
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewService.Details" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom: 5px;">
                    <input asp-for="NewService.Details" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NewService.ServiceType" class="control-label"></label>
                </div>
                <div class="col-sm-9" style="padding-bottom: 5px;">
                    <select asp-for="NewService.ServiceTypeId" asp-items="@(new SelectList(Model.ServiceTypes,"Id", "Name" ))" class="form-control"></select>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<hr />
<h4>Past Service Records</h4>
<div class="row form-border">
    @await Html.PartialAsync("_DisplayPastServices", Model)
    <div class="row">
        <div class="col-sm-3">
            <a asp-controller="Cars" asp-action="Index" asp-route-userId="@Model.SubCar.UserId" class="btn btn-sm btn-success">Back to list</a>
        </div>
        @if (Model.PastServices.Any())
        {
            if (Model.PastServices.Count() > 4)
            {
                <div class="pull-right" style="padding-right: 20px;">
                    <a asp-action="Index" asp-route-carId="@Model.SubCar.Id" class="text-primary">Load All...</a>
                </div>
            }
        }
        else
        {
            <div class="col-sm-12 text-primary" style="padding-bottom: 20px">No past service records found.</div>
        }
    </div>
</div>