@model AutoService.ViewModel.CarAndServicesViewModel
@{
    ViewData["Title"] = "Index";
}
<br/>
@await Html.PartialAsync("_CarDetailsInService")
<hr/>
<br/>
<h2>Service Record</h2>
<div class="form-border row">
    @await Html.PartialAsync("_DisplayPastServices", Model)
    
    <input type="button" class="btn btn-sm btn-primary" value="Print" onclick="window.print();"/>
    
    <a asp-action="Index" asp-controller="Cars" asp-route-userId="@Model.SubCar.UserId" class="btn btn-sm btn-success">Back to list</a>
</div>